/* #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
} */

/* Please â¤ this if you like it! */

@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');
 * {
	 box-sizing: border-box;
	 margin: 0;
}
 body {
	 background-color: #03071e;
	 color: #edf2f4;
   font-family: "Nunito", sans-serif;
	 font-size: 1rem;
	 line-height: 1.6;
}
 .container {
	 max-width: 768px;
	 width: 85%;
	 margin-left: auto;
	 margin-right: auto;
	 position: relative;
}
 header {
	 text-align: center;
	 margin-bottom: 8rem;
}
 header .container {
	 padding: 3rem 0;
}
 h1, h2 {
	 font-family: inherit;
	 line-height: 1.6;
	 text-shadow: 0px 2px 18px #000;
}
 h1 {
	 font-size: clamp(1rem, 5vw, 5rem);
}
 h2 {
	 font-size: clamp(1rem, 4vw, 4rem);
}
 .content-wrapper {
	 background-color: rgba(3, 7, 30, 80);
	 padding: 3rem 0;
}
 .content-wrapper p:not(:last-child) {
	 margin-bottom: 1rem;
}
 .body-wrapper {
	 height: 100vh;
	 overflow-x: hidden;
	 overflow-y: auto;
	 perspective: 5px;
}
 section {
	 position: relative;
	 margin-top: 6rem;
	 margin-bottom: 6rem;
}
 section:first-of-type {
	 margin-top: 0;
}
 section:last-of-type {
	 margin-bottom: 0;
}
 .parallax {
	 position: relative;
	 min-height: 300px;
	 height: 60vh;
	 display: flex;
	 justify-content: center;
	 align-items: center;
	 transform-style: preserve-3d;
	 z-index: -1;
}
 .parallax > div {
	 position: absolute;
	 top: 0;
	 left: 0;
	 width: 100%;
	 height: 100%;
	 z-index: -1;
	 pointer-events: none;
	 background-position: center;
	 background-size: cover;
	 filter: contrast(1.2);
	 box-shadow: 0px 0px 8px #000;
}
 .parallax > h2 {
	 position: relative;
	 z-index: 1;
}
 .parallax .background {
	 transform: translateZ(-6px) scale(2) rotate(-5deg);
	 opacity: 0.6;
}
 .parallax .foreground {
	 transform: translateZ(-5px) scale(1.5) rotate(2deg);
	 opacity: 0.8;
	 width: 50%;
}
 